Repository foolish-pine/static-site-boilerplate-astro: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_stylelint, 3_prettier, 4_astro

1_eslint:
  run: ESLINT_USE_FLAT_CONFIG=true npx eslint --fix --quiet {staged_files}

2_stylelint:
  run: npx stylelint --fix --quiet {staged_files}

3_prettier:
  run: npx prettier --write --log-level=error --plugin prettier-plugin-astro {staged_files}

4_astro:
  run: npx astro check

chore: update dependencies
  package-lock.json
  package.json
Due: 3_prettier

chore: add renovate
  renovate.json
Due: 3_prettier

chore: update gitignore
  .gitignore
Due: none

chore: update gitignore (#62)
  .gitignore
Due: none

chore: add npm script for code check
  package.json
Due: 3_prettier

refactor: remove redundant dir
  src/layouts/BaseLayout.astro
  src/scripts/fixViewport.ts
  src/scripts/manipulateFocusInModal.ts
Due: 1_eslint, 2_stylelint, 3_prettier, 4_astro

chore: add github actions workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: 3_prettier

chore: tweak tsconfig
  tsconfig.json
Due: 3_prettier

chore: tweka renovate setting
  renovate.json
Due: 3_prettier

chore: rename
  .github/workflows/verify.yml
Due: 3_prettier

chore: tweak format config
  .vscode/settings.json
  lefthook.yml
Due: 3_prettier

refactor: tweak line break
  src/styles/base.scss
Due: 2_stylelint, 3_prettier

refactor: tweak hover
  src/styles/global/_mediaquery.scss
Due: 2_stylelint, 3_prettier

feat: reset dialog default style
  src/styles/base.scss
Due: 2_stylelint, 3_prettier

feat: add style for prefers-reduced-motion mode
  src/styles/base.scss
Due: 2_stylelint, 3_prettier

chore: remove unused
  src/scripts/manipulateFocusInModal.ts
Due: 1_eslint, 3_prettier, 4_astro

chore: tweak lint setting
  .prettierignore
  package.json
Due: 3_prettier

chore: remove unused npm-scripts
  package.json
Due: 3_prettier

refactor: extract style for a11y
  src/layouts/BaseLayout.astro
  src/styles/a11y.scss
  src/styles/base.scss
Due: 1_eslint, 2_stylelint, 3_prettier, 4_astro

chore: update npm scripts
  package.json
Due: 3_prettier

chore: update npm scripts (#138)
  package.json
Due: 3_prettier

chore: update tsconfig
  tsconfig.json
Due: 3_prettier

chore: update tsconfig (#139)
  tsconfig.json
Due: 3_prettier

chore: update settings.json
  .vscode/settings.json
Due: 3_prettier

chore: update settings.json (#140)
  .vscode/settings.json
Due: 3_prettier

chore: ignore .astro dir
  eslint.config.js
Due: 1_eslint, 3_prettier, 4_astro

chore: ignore .astro dir (#169)
  eslint.config.js
Due: 1_eslint, 3_prettier, 4_astro

chore: remove redundant
  lefthook.yml
  package.json
Due: 3_prettier

chore: tweak prettier setting
  lefthook.yml
Due: 3_prettier

docs: update readme
  README.md
Due: none

chore: reinstall packages
  package-lock.json
Due: 3_prettier

fix: lint error
  src/styles/global/_mediaquery.scss
Due: 2_stylelint, 3_prettier

chore: tweak linter settings
  eslint.config.js
  src/env.d.ts
Due: 1_eslint, 3_prettier, 4_astro

chore: tweak linter stylelint setting
  stylelint.config.cjs
Due: none

chore: tweak linter stylelint setting (#227)
  stylelint.config.cjs
Due: none

chore: remove redundant
  .vscode/settings.json
Due: 3_prettier

chore: remove redundant (#228)
  .vscode/settings.json
Due: 3_prettier

chore: update tsconfig
  eslint.config.js
  src/env.d.ts
  tsconfig.json
Due: 1_eslint, 3_prettier, 4_astro

refactor: remove scss
  .vscode/settings.json
  astro.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/styles/a11y.scss
  src/styles/base.css
  src/styles/global/_functions.scss
  src/styles/global/_index.scss
  src/styles/global/_mediaquery.scss
  src/styles/global/_variables.scss
  src/styles/helpers.css
  stylelint.config.cjs
Due: 1_eslint, 2_stylelint, 3_prettier, 4_astro

chore: remove sass
  package-lock.json
  package.json
Due: 3_prettier

Path conditions:
  1_eslint: any of: *.{astro,js,ts}
  2_stylelint: any of: *.{astro,css,scss}
  3_prettier: any of: *.{astro,js,ts,css,scss,json,jsonc,yml}
  4_astro: any of: *.{astro,js,ts}
