Repository foolish-pine/static-site-boilerplate-astro: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_stylelint, 4_astro

1_eslint:
  run: npx eslint --fix --quiet {staged_files}

2_stylelint:
  run: npx stylelint --fix --quiet {staged_files}

4_astro:
  run: npx astro check

refactor: rename class
  src/styles/helpers.css
Due: 2_stylelint

refactor: merge actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

chore: rename
  src/styles/base.css
Due: 2_stylelint

chore: update stylelint config
  stylelint.config.cjs
Due: 1_eslint

chore: update renovate setting
  renovate.json
Due: none

chore: update renovate setting (#348)
  renovate.json
Due: none

chore: add timeout to actions job
  .github/workflows/ci.yml
Due: none

chore: add timeout to actions job (#350)
  .github/workflows/ci.yml
Due: none

chore: use volta-cli
  .github/workflows/ci.yml
Due: none

chore: use volta-cli (#389)
  .github/workflows/ci.yml
Due: none

fix: lint error
  src/styles/base.css
Due: 2_stylelint

chore: tweak npm scripts and lefthook config
  lefthook.yml
  package.json
Due: none

chore: tweak npm scripts and lefthook config (#481)
  lefthook.yml
  package.json
Due: none

chore: tweak npm scripts and lefthook config (#483)
  lefthook.yml
  package.json
Due: none

chore: add Prettier --ignore-unknown option
  package.json
Due: none

chore: add Prettier --ignore-unknown option (#484)
  package.json
Due: none

chore: tweak npm scripts and lefthook config (#488)
  lefthook.yml
  package.json
Due: none

chore: remove postcss-sort-media-queries
  package-lock.json
  package.json
  postcss.config.cjs
Due: 1_eslint

chore: remove postcss-sort-media-queries (#493)
  package-lock.json
  package.json
  postcss.config.cjs
Due: 1_eslint

chore: rename workflow
  .github/workflows/ci.yml
Due: none

chore: rename workflow (#494)
  .github/workflows/ci.yml
Due: none

chore: add Renovate minimumReleaseAge option
  renovate.json
Due: none

chore: add appropriate permission to CI workflow
  .github/workflows/ci.yml
Due: none

chore: fix stylelint error
  src/styles/base.css
Due: 2_stylelint

chore: tweak renovate config
  renovate.json
Due: none

chore(deps): update dependency stylelint-config-standard to v40
  package-lock.json
  package.json
Due: none

chore: add text-autospace: normal;
  src/styles/base.css
Due: 2_stylelint

chore: add display: block; to img
  src/styles/base.css
Due: 2_stylelint

chore: add renovate package rules
  renovate.json
Due: none

chore: cache handling in actions
  .github/workflows/ci.yml
  .gitignore
  astro.config.mjs
Due: 1_eslint

chore: add .npmrc and simplify renovate config
  .npmrc
  renovate.json
Due: none

docs: revamp README and add MIT license
  LICENSE
  README.md
Due: none

chore: reorder fields in package.json
  package.json
Due: none

chore: remove version field from package.json
  package.json
Due: none

chore: simplify renovate package rules
  renovate.json
Due: none

chore: enable OSV alerts and lower npm min-release-age
  .npmrc
  renovate.json
Due: none

Path conditions:
  1_eslint: any of: *.{astro,js,cjs,mjs,ts}
  2_stylelint: any of: *.{astro,css}
  4_astro: any of: *.{astro,js,ts}
